<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lol.lol.horoscopo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Daily"></activity>
        <activity android:name=".about" />
        <activity
            android:name=".Sagitario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Escorpio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Libra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Virgo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cancer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Geminis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tauro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Aries"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Piscis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".capricornio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>