<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lol.lol.horoscopo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity android:name="lol.lol.horoscopo.about" />
        <activity
            android:name="lol.lol.horoscopo.Sagitario"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Escorpio"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Libra"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Virgo"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Leo"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Cancer"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Geminis"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Tauro"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Aries"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Piscis"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.Acuario"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.capricornio"
            android:screenOrientation="portrait" />
        <activity
            android:name="lol.lol.horoscopo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="lol.lol.horoscopo.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>